.action-list {
  max-height: 220px;
  overflow-y: auto;
  overflow-x: hidden;
}

.action-list::-webkit-scrollbar {
  width: 2px;
  background-color: #aaa;
}

.action-list::-webkit-scrollbar-thumb {
  background-color: #714dd2;
}
