@import '~bulma/sass/utilities/_all';

$primary: $cyan;
$link: $primary;
$colors: (
  'primary': (
    $primary,
    $primary-invert,
  ),
  'link': ($cyan, $cyan-invert)
);
@import '~bulma';
@import '~buefy/src/scss/buefy';
