@import '~bulma/sass/utilities/_all';

$primary: $cyan;
$link: $primary;
$colors: (
  "link": ($cyan, $cyan-invert),
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
);
@import '~bulma';
@import '~buefy/src/scss/buefy';
